 .c-item{
 height: 480px;
} 
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.overview{
    height: 180px;
    background-color: #aaaaaa;
}

#wel1, #wel{
    color: white;

}
#well{
    color: red;
}